@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
.container{
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    gap: 5px;
}
.connections{
    width: 25vw;
    height: 99%;
    margin-block: 5px;
    border-radius: 5px;
    background-color: white;
    /* rgb(217, 234, 34); */
}
